/* Four main colors for our design:
    #a7efe9
    #7fdfd4
    #fbe1b6
    #fbac91
/*this link to use Cherry Bomb One font*/
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
body {
    margin: 0px;
    min-height: 100vh;
    font-family: 'Bree Serif', serif;

}
header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #A7EFE9;
    margin: 0;
    text-align: center;
    padding: 20px 0px;
}
.sectionHeader {
    margin-top: 0px;
}
.centered-content {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
  }
header h1 {
    margin: 0px;
}
header img {
    max-width: 20rem;
}
.links {
    font-family: "Times New Roman", Times, serif; 
}
.link-button {
    margin: 0px 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #fbac91;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.5s ease;
    width: 100px;
    border-radius: 25px;
}
.link-button:hover {
    background-color: #f9865f;
}
footer {
    background-color: #fbac91;
    padding: 20px;
    height: 75px;
}
hr {
    margin: 10px 15px;
    border-top: 2px solid #000;
}
#info {
    display: flex;
    padding: 0 10px;
}

.phoneAboutLogo {
    display: none;
    padding-bottom: 10px;
}    
.info-pictures {
    position: relative;
    min-width: 350px;
    max-width: 600px;
    width: 50%;
    height: 500px; 
    background-image: url("../assets/construction.jpg"), url("../assets/coding.jpg");
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-size: 50% 100%;
}
.info-pictures > .logo {
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    justify-content:center;
    gap: 20px;
    align-items: center;
    position: absolute;
    top: 200px;
    color: white;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.logo > img {
    width: 4.5rem;
}

.info-pictures > .constr-credit,
.info-pictures > .cod-credit {
    color: rgba(255, 255, 255, 0.95);
    width: 50%;
    box-sizing: border-box;
    padding: 8px;
    position: absolute;
    bottom: 0px;
    text-align: center;
}
.info-pictures > .cod-credit {
    right: 0px; 
}

.constr-credit > a,
.cod-credit > a {
    color: rgba(255, 255, 255, 0.80);
}
#info .info-text {
    padding: 0 10px;
    font-size: 110%;
    max-width: 600px;
    width: 50%;
    box-sizing: border-box;
}

.row {
    padding: 5px;
}
#education {
    padding: 10px; 
}
.certCard {
    display: grid;
    grid-template-columns: 250px 1fr;
    margin: 15px 0px;
    min-height: 150px;
}
/* .certificate {
    height: 300px;
} */
.constr,
.coding {
    position: relative;
    background-size: cover;
    height: 12rem;
    padding: 2rem;
    display: flex;
}
.constr {
    background-image: url("../assets/ed-cons.jpg");
}
.coding {
    background-image: url("../assets/ed-cod.jpg"); 
}
.constr > .credit,
.coding > .credit {
    color: rgba(255, 255, 255, 0.75);
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
}
.credit a {
    color: rgba(255, 255, 255, 0.75);
}
/* .certCard:first-child > .certificate {
    background-image: url("../assets/coding.jpg");
}
.certificate:first-child + {
    background-image: url("../assets/construction.jpg");
} */
.certInfo {
    width: 100%;
    padding: 10px;
    box-shadow: 10px 5px 20px #D3D3D3;
    box-sizing: border-box;
}
#contactMe {
    background-color:#A7EFE9;
    padding: 10px 10px;
}

#contactMe h2 {
    text-align: center;
}

.inputForm {
    padding: 5px 20px;
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
}
.inputForm > label {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}
.inputForm input[type="text"],
.inputForm input[type="email"] {
    font-family: 'Bree Serif', serif;
    width: 100%;
    box-sizing: border-box;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
select[name="rating"] {
    font-family: 'Bree Serif', serif;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.inputForm button[type="submit"] {
    text-align: center;
    background-color: #fbac91;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.5s ease;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 25px;
    height: 40px;
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.inputForm button[type="submit"]:hover {
    background-color: #f9865f;
} 
.inputForm textarea {
    font-family: 'Bree Serif', serif;
    width: 100%;
    max-width: 400px;
    min-width: 200px; 
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#contactRea {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#HourlyRateDiv {
    display: none;
}

.contact-reason-label {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

@media (max-width: 800px) {
    .phoneAboutLogo {
        display: flex;
        gap: 10px;
        flex-flow: row;
        justify-content: center;
    }
    .phoneAboutLogo > img {
        width: 4rem;
    }
    #info {
        display: block;
    }
    .info-pictures {
        display: none;
    }
    #info .info-text {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
}
@media (max-width: 600px) {
    .certCard {
        display: block;
    }

    .constr,
    .coding {
        display: none;
    }

    body {
        font-size: 90%;
    }
    header img {
        max-width: 50%;
    }
    .link-button {
        width: 75px;
    }
    #info { 
        flex-direction: column;
    }  
    .inputForm textarea, .inputForm input[type="text"],
    .inputForm input[type="email"] {
        font-size: 95%;
        height: 25px;
    }
    .inputForm input[type="submit"] {
        height: 30px;
    }
}
